.subjectListItem {
  padding: 15px 20px;
  border-radius: 20px;
  border: 1px solid #e3e3e355;
  box-shadow: 0 1px 2px 0 #10b98111;
  list-style: none;
  color: #064e3b;

  &:last-child {
    margin-bottom: 20px;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    h4 {
      margin: 0;
      font-size: 18px;
    }

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      p {
        margin: 0;
      }
    }

    .options {
      position: absolute;
      top: 25%;
      right: 5px;
      transform: translateY(50%);
      display: flex;
      justify-content: center;

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: all 0.3s ease;

        svg {
          width: 20px;
          height: 20px;
          stroke: #059669;
        }

        &:hover {
          // background-color: rgba(0, 0, 0, 0.15);
          background-color: #e3e3e355;
        }

        &:active {
          // background-color: rgba(29, 4, 4, 0.3);
          background-color: #e3e3e3ff;
        }
      }
    }
  }
}
