.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  h2 {
    margin: 0;
    font-family: "Whitney bold";
    text-align: center;
    font-size: 30px;
  }

  .modalContent {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .teachersSection {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      overflow: auto;
      height: calc(100% - 60px);

      button {
        border: none;
        background: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-family: "Whitney Book Regular";
        font-size: 18px;

        &:hover {
          background-color: #d1fae5;
        }

        &:active {
          background-color: #a7f3d0;
        }

        &.selected {
          background: #d1fae5;
        }
      }
    }

    .subjectsSection {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      overflow: auto;
      height: calc(100% - 60px);

      .subjectListItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        border-radius: 15px;
        color: #064e3b;
        border: 1px solid #e3e3e355;
        box-shadow: 0 1px 2px 0 #10b98111;

        p {
          margin: 0;

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
