.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .formSide {
    width: 100%;
    padding: 10px;

    h2 {
      font-family: "Whitney bold";
      font-size: 30px;
      color: #10b981;
    }
  }

  .subjectsListSide {
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    flex: 1 1 auto;
    flex-direction: column;

    h2 {
      font-family: "Whitney bold";
      font-size: 30px;
      color: #10b981;
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;

    .formSide {
      max-width: 700px;
      margin: auto;
    }

    .subjectsListSide {
      max-width: 850px;
      margin: auto;
    }
  }
}
