.container {
  > h2 {
    margin: 0;
    text-align: center;
    font-family: "Whitney bold";
    color: #059669;
    margin-bottom: 10px;
  }

  .toolbar {
    display: flex;
    // justify-content: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

    .actionButtons {
      display: flex;
      gap: 10px;
    }

    .options {
      display: flex;
    }

    @media (max-width: 500px) {
      justify-content: flex-end;
      .actionButtons {
        display: none;
      }
    }
  }
}
